<h1>Weolcome to Angular Front end</h1>

<button class="btn btn-sm btn-primary" routerLink="/users">
  Users Section
</button>
<button class="btn btn-sm btn-warning" routerLink="/posts">
  Posts Section
</button>
