<!-- The below technique is known as string interpolation which only parses the string -->
<h2>{{ user.firstName }} {{ user.lastName }}</h2>
<!-- The age will be shown 22 though it is defined 21 bcoz the method afterbirthday increaments the age and it is defined in the constructor so it will be executed before the output. -->
<h3>{{ user.age }}</h3>
<h4>
  {{ user.address.street }} {{ user.address.area }} {{ user.address.flat }}
</h4>

<!-- It can also parse the number or math function but after converting it to the string like below....1+1 is first processed and then converted into string and then 2 op is given -->
<!-- <h2>{{ 1 + 1 }}</h2> -->
