<h3>Add Posts</h3>

<div class="card card-body mb-3">
  <form action="">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentPost.title"
        name="title"
        #title
      />
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentPost.body"
        name="body"
        #body
      />

      <input type="hidden" [(ngModel)]="currentPost.id" name="id" />
    </div>
    <button
      *ngIf="!isEdit"
      (click)="addPost(title.value, body.value)"
      class="btn btn-dark btn-block"
    >
      Add Post
    </button>

    <button
      *ngIf="isEdit"
      (click)="updatePost()"
      class="btn btn-warning btn-block"
    >
      Update Post
    </button>
  </form>
</div>
