<div class="row">
  <div class="col-md-4 offset-md-4">
    <button class="btn btn-dark btn-block" (click)="showUser = !showUser">
      Add User
    </button>
  </div>
</div>

<div class="card card-body" *ngIf="showUser">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input
        type="text"
        [(ngModel)]="user.firstname"
        [ngClass]="{
          'is-invalid': userFirstName.errors && userFirstName.touched
        }"
        class="form-control"
        name="firstname"
        #userFirstName="ngModel"
        required
        minlength="4"
      />

      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        FirstName Required
      </div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        Must Be atleast 4 characters
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">LastName</label>
      <input
        type="text"
        [(ngModel)]="user.lastname"
        [ngClass]="{
          'is-invalid': userLastName.errors && userLastName.touched
        }"
        class="form-control"
        name="lastname"
        #userLastName="ngModel"
        required
        minlength="4"
      />
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        LastName Required
      </div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must Be atleast 4 characters
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        [(ngModel)]="user.email"
        [ngClass]="{
          'is-invalid': userEmail.errors && userEmail.touched
        }"
        class="form-control"
        name="email"
        #userEmail="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      />
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email Required
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is NotValid.
      </div>
    </div>

    <button [disabled]="!userForm.form.valid" class="btn btn-dark">
      Add New User
    </button>
  </form>
</div>

<h2>Users</h2>
<!-- Property binding concept -->

<!-- If method in for loop -->
<ul class="list-unstyled" *ngIf="users.length > 0; else noUsers">
  <!-- This is the method to use for loop in angular ...here the user is a madeup variable to store the value and users is the array from which the value is taken. -->

  <li
    class="card card-body my-3"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
    [style.border-color]="user.isActive ? 'green' : ''"
  >
    <h3>
      {{ user.firstname }} {{ user.lastname }}
      <small *ngIf="user.email"
        ><button class="btn btn-dark btn-sm" (click)="user.hide = !user.hide">
          <i
            [ngClass]="user.hide ? 'fas fa-plus' : 'fas fa-minus'"
            class="bg-dark"
          ></i></button
      ></small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide && user.email">
      <li class="list-group-item">
        <h4>
          {{ user.email }}
        </h4>
      </li>

      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>
<ng-template #noUsers>
  <h4>No users found</h4>
</ng-template>
