<app-post-form
  [currentPost]="currentPost"
  [isEdit]="isEdit"
  (newPost)="onNewPost($event)"
  (updatedPost)="onUpdatedPost($event)"
></app-post-form>

<h2>Posts</h2>

<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3>
      <a routerLink="/postDetail/{{ post.id }}"> {{ post.title }}</a>
    </h3>
    <p>{{ post.body }}</p>

    <button (click)="removePost(post)" class="btn btn-danger">Delete</button>
    <button (click)="editPost(post)" class="btn btn-success ml-2">
      Edit
    </button>
  </div>
</div>
